.comment {
  border: none;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment__title {
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 30px;
  width: 280px;
}

.comment__text {
  color: $black;
  width: 260px;
  min-height: 138px;
  background-color: $lightgray;
  border: none;
  padding-left: 20px;
  padding-top: 22px;

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $black;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .comment {
    border-top: 1px solid $bordergray;
    margin: 0 auto;
  }

  .comment__title {
    margin: 0 auto;
  }

  .comment__text {
    width: 648px;
  }
}

@media (min-width: 1200px) {
  .comment {
    width: 960px;
  }

  .comment__text {
    width: 960px;
  }
}
