.contact-information {
  border: none;
  display: flex;
  width: 280px;
  flex-direction: column;
  border-bottom: 1px solid $bordergray;
}

.contact-information__title {
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 30px;
  width: 280px;
}

.contact-information__label {
  text-transform: uppercase;
  color: $darkgray;
  padding-left: 20px;
  margin-bottom: 13px;
}

.contact-information__input {
  background-color: $lightgray;
  color: $black;
  border: none;
  width: 260px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;

  &::placeholder {
    color: $black;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .contact-information {
    width: 648px;
    border-top: 1px solid $bordergray;
    border-bottom: none;
  }

  .contact-information__input {
    width: 648px;
  }

  .contact-information__title {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .contact-information {
    width: 940px;
    flex-direction: row;
  }

  .contact-information__input {
    width: 270px;
  }
}
