.feature {
  margin: 0 auto;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.feature__item__title {
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feature__item__text {
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
