.feature {
  margin: 0 auto;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.feature__item__title {
  text-transform: uppercase;
}

.feature__item__text {
  text-transform: uppercase;
  color: $darkgray;
}
