.form__fieldset {
  border: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 19px;
  width: 280px;

  &--personal-data {
    border-bottom: 1px solid $bordergray;
  }

  &--landmarks {
    border-bottom: 1px solid $bordergray;
    padding-bottom: 4px;
  }

  &--impression {
    border-bottom: 1px solid $bordergray;
  }

  &--comment {
    align-items: center;
    padding-bottom: 37px;
  }

  &--contact-information {
    border-bottom: 1px solid $bordergray;
    padding-bottom: 32px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__container {
  &--personal-data {
    height: 47px;
  }

  &--contact-information {
    height: 83px;
    margin-bottom: 4px;
  }

  &--impression {
    height: 36px;
  }
}

.form__legend {
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4px;
  margin-top: 23px;
  padding-top: 18px;
  width: 280px;

  &--impression {
    padding-bottom: 18px;
  }

  &--landmarks {
    padding-bottom: 10px;
  }
}

.form__label {
  outline: none;

  &--personal-data {
    text-transform: uppercase;
    color: #333333;
  }

  &--checkbox {
    display: block;
    position: relative;
    padding-left: 78px;
    margin-bottom: 13px;
    height: 35px;
  }

  &--radio {
    display: block;
    position: relative;
    padding-left: 79px;
    padding-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      display: block;
      width: 22px;
      height: 22px;
      background-color: $lightgray;
      border: 17px solid $lightgray;
      border-radius: 50%;
    }

    &:hover::before {
      background-color: $gray3;
      border: 17px solid $gray3;
    }

    &:focus::before {
      background-color: $gray3;
      border: 17px solid $gray3;
    }

    &:active::before {
      background-color: $gray5;
      border: 17px solid $gray5;
    }
  }

  &--contact-information {
    text-transform: uppercase;
    color: $darkgray;
    padding-left: 20px;
    margin-bottom: 13px;
  }
}

.form__label--checkbox svg {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  background: $lightgray;
  border: 17px solid $lightgray;
  border-radius: 5px;
  fill: $lightgray;


  &:hover {
    background-color: $gray3;
    border: 17px solid $gray3;
    fill: $gray3;
  }

  &:focus {
    background-color: $gray3;
    border: 17px solid $gray3;
    fill: $gray3;
  }

  &:active {
    background-color: $gray5;
    border: 17px solid $gray5;
    fill: $gray5;
  }
}

.form__input {
  outline: none;

  &:hover {
    background-color: $gray3;
    border: 4px solid $gray3;
  }

  &:focus {
    background-color: $white;
    border: 4px solid $gray3;
  }

  &--personal-data {
    background-color: $lightgray;
    color: $black;
    padding-left: 17px;
    margin-left: 16px;
    width: 191px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 4px solid $lightgray;

    &::placeholder {
      color: $black;
      opacity: 1;
    }
  }

  &--firstname {
    width: 228px;
  }

  &--checkbox {
    display: none;
  }

  &--radio {
    display: none;
  }

  &--contact-information {
    background-color: $lightgray;
    color: $black;
    width: 279px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    margin-top: 7px;
    border: 4px solid $lightgray;

    &::placeholder {
      color: $black;
      opacity: 1;
    }
  }
}


.form__input--checkbox:checked ~ label svg {
  fill: $darkgray;
}

.form__input--checkbox:checked ~ label:active svg {
  fill: $gray6;
}

.form__input--radio:checked ~ label::before {
  background-color: $black;
}

.form__input--radio:checked ~ label:active::before {
  background: $gray6;
}

.form__icon {
  position: relative;
  display: block;
  margin: 0;
  margin-top: -58px;
  padding: 0;
  width: 57px;
  height: 58px;
  color: $white;
  background-color: $gray3;
  margin-left: 221px;

  &--phone svg {
    content: "";
    position: absolute;
    top: 20px;
    left: 18px;
    width: 26px;
    height: 20px;
  }

  &--mail svg {
    content: "";
    position: absolute;
    top: 20px;
    left: 18px;
    width: 26px;
    height: 20px;
  }
}

.form__textarea {
  outline: none;
  color: $black;
  width: 280px;
  min-height: 155px;
  background-color: $lightgray;
  padding-left: 17px;
  padding-top: 8px;
  border: 4px solid $lightgray;

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $black;
    opacity: 1;
  }

  &:hover {
    background-color: $gray3;
    border: 4px solid $gray3;
  }

  &:focus {
    background-color: $white;
    border: 4px solid $gray3;
  }
}

.form__button {
  margin: 0 auto;
  margin-bottom: 39px;
}

.form__asterisk {
  display: none;
}

@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
  }

  .form__fieldset {
    &--personal-data {
      border: none;
    }

    &--landmarks {
      width: 648px;
      border-top: 1px solid #e5e5e5;
      border-bottom: none;
      padding-bottom: 23px;
    }

    &--impression {
      order: -1;
      border: none;
    }

    &--comment {
      border-top: 1px solid $bordergray;
      margin: 0 auto;
      padding-bottom: 44px;
    }

    &--contact-information {
      width: 648px;
      border-top: 1px solid $bordergray;
      border-bottom: none;
      margin-top: 31px;
    }
  }

  .form__legend {
    margin: 0 auto;
    font-size: 21px;
    padding-top: 75px;
    padding-bottom: 40px;

    &--personal-data {
      text-align: left;
      width: 265px;
    }

    &--impression {
      padding-bottom: 57px;
    }

    &--contact-information {
      padding: 0;
      margin-bottom: 8px;
      width: 395px;
    }

    &--landmarks {
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 27px;
      width: 390px;
    }

    &--comment {
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 32px;
      width: 390px;
    }
  }

  .form__container {
    &--impression {
      height: 46px;
      width: 255px;
    }

    &--contact-information {
      text-align: left;
      height: 95px;
    }
  }

  .form__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .form__input {
    &--personal-data {
      width: 178px;
    }

    &--contact-information {
      width: 648px;
    }

    &--firstname {
      width: 216px;
    }
  }

  .form__label {
    &--checkbox {
      width: 150px;
      height: 45px;
      text-align: left;
      padding-left: 110px;
    }

    &--radio {
      padding-left: 70px;

      &::before {
        left: -5;
      }
    }
  }

  .form__label--checkbox svg {
    left: 31px;
  }

  .form__icon {
    margin-left: 592px;
  }

  .form__textarea {
    width: 648px;
  }

  .form__button {
    width: 324px;
    margin-left: 59px;
    margin-top: 0;
    margin-right: 163px;
  }

  .form__asterisk {
    display: block;
    text-transform: uppercase;
    padding-top: 18px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 1200px;
    background-color: $white;
    padding-bottom: 25px;

    &--personal-data {
      width: 400px;
    }
  }

  .form__fieldset {
    &--personal-data {
      width: 480px;
      margin-left: 5px;
      padding-top: 41px;
    }

    &--landmarks {
      width: 960px;
      padding-bottom: 31px;
    }

    &--impression {
      width: 480px;
      border-right: 1px solid #e5e5e5;
      margin-left: 61px;
      padding-right: 60px;
      padding-top: 55px;
    }

    &--contact-information {
      width: 940px;
      margin-left: 120px;
      padding-bottom: 20px;
    }

    &--comment {
      width: 960px;
    }
  }

  .form__wrapper {
    &--landmarks {
      justify-content: space-between;
    }
  }

  .form__legend {
    padding-top: 0;
    padding-bottom: 0;

    &--impression {
      width: 400px;
      padding-left: 10px;
    }

    &--personal-data {
      width: 448px;
    }

    &--contact-information {
      margin-bottom: 51px;
    }

    &--landmarks {
      margin-bottom: 40px;
    }

    &--comment {
      margin-bottom: 46px;
    }
  }

  .form__container {
    text-align: left;

    &--personal-data {
      width: 445px;
    }

    &--contact-information {
      width: 470px;
      box-sizing: border-box;
    }

    &--mail {
      padding-left: 12px;
    }
  }

  .form__label {
    &--contact-information {
      padding-left: 0;
      padding-right: 12px;
    }

    &--checkbox {
      width: 100%;
      padding-left: 80px;
    }

    &--radio {
      padding-left: 25px;

      &::before {
        left: -51px;
      }
    }

    &--hide {
      display: none;
    }
  }

  .form__label--checkbox svg {
    left: 1px;
  }

  .form__input {
    &--personal-data {
      width: 310px;
    }

    &--firstname {
      width: 348px;
    }

    &--contact-information {
      width: 258px;
    }
  }

  .form__icon {
    &--phone {
      margin-left: 343px;
    }

    &--mail {
      margin-left: 420px;
    }
  }

  .form__textarea {
    width: 960px;
  }

  .form__button {
    width: 481px;
    margin-left: 120px;
    margin-right: 316px;
  }
}
