.form {
  border-top: 1px solid #e5e5e5;
  margin-top: 23px;
}

.form-promo {
  background: url("/img/bg-intro-triangle-desktop.svg"), url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #4478a4;
  min-height: 160px;
  margin: 0 auto;
  background-position: 50% bottom;
  text-align: center;
}

.form-promo__img {
  margin: 0 auto;
  margin-top: 52px;
}

.form-promo__content {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 45px;
  text-align: center;
  width: 255px;
}

.form-promo__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto;
  text-align: center;
  width: 280px;
  margin-top: 40px;
}
