.form__personal-datas {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__contact-information {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__impression {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__landmarks {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__comment {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
