.hotels-searching__title {
  padding: 0;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 30px;
  width: 280px;
}

.hotels-searching__text {
  text-transform: uppercase;
  color: $darkgray;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 280px;
}

@media (min-width: 768px) {

  .hotels-searching__title {
   font-size: 30px;
   line-height: 26px;
   margin-top: 0px;
   padding-top: 25px;
  }

  .hotels-searching__text {
    width: 440px;
  }
}

@media (min-width: 1200px) {
  .hotels-searching {
    background-color: $white;
    width: 1200px;
    margin: 0 auto;
  }
}
