.hotels-searching__title {
  padding: 0;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 30px;
  width: 280px;
}

.hotels-searching__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 280px;
}
