.impression {
  border: none;
  width: 280px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $bordergray;
}

.impression__title {
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 30px;
  width: 280px;
}

.impression__choice {
  display: none;
}

.impression label {
  display: block;
  position: relative;
  padding-left: 70px;
  padding-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    display: block;
    width: 22px;
    height: 22px;
    background-color: $bordergray;
    border: 17px solid $bordergray;
    border-radius: 50%;
  }
}

.impression__choice:checked ~ label::before {
  background-color: $black;
}

@media (min-width: 768px) {
  .impression {
    border: none;
  }
}
