.landmarks {
  border: none;
  width: 280px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $bordergray;
}

.landmarks__title {
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 30px;
  width: 280px;
}

.landmarks__choice {
  display: none;
}

.landmarks label {
  display: block;
  position: relative;
  padding-left: 70px;
  margin-bottom: 13px;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    display: block;
    width: 22px;
    height: 22px;
    background: $bordergray;
    border: 17px solid $bordergray;
    border-radius: 5px;
  }
}

.landmarks__choice:checked ~ label::before {
  background: $bordergray  url("../img/icon-tick.svg") no-repeat;
}
