.logo__bridge {
  display: none;
}

.logo__cloud {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    width: 156px;
  }

  .logo__cloud {
    display: block;
  }

  .logo__image svg {
    margin-top: 3px;
    margin-left: -15px;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }

  .logo__image svg {
    margin-left: 0;
    width: 250px;
    height: 96px;
    background-repeat: no-repeat;
  }

  .logo__bridge {
    display: block;
  }
}
