.map {
  margin: 0 auto;
  text-align: center;
  min-height: 350px;
  padding-top: 24px;
  width: 320px;
}

.map svg {
  position: relative;
  top: -194px;
}

@media (min-width: 768px) {
  .map {
    background-size: 768px 350px;
    margin-top: 6px;
    width: 768px;
  }

  .map iframe {
    width: 768px;
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .map {
    width: 1200px;
    height: 365px;
    padding-top: 0;
  }

  .map iframe {
    width: 1200px;
    height: 355px;
  }
}
