.page-photo__header {
  margin-top: -5px;
}

.page-photo__promo {
  margin: 0 auto;
}

.page-photo__gallery {
  margin: 0 auto;
}

.page-photo__video-gallery {
  padding-bottom: 43px;
}

@media (min-width: 768px) {
  .page-photo__header {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .page-photo__video-gallery {
    padding-bottom: 51px;
  }
}
