.page {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page__footer {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .page {
    background-color: $gray;
  }
}

