.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__hashtag-sedona {
  display: block;
  text-align: center;
  margin-top: 40px;
}

.page-footer__powered-by {
  margin-top: 40px;
}

.page-footer__social-networks {
  margin: 0;
  padding: 0;
  margin-top: 42px;
}

@media (min-width: 768px) {
 .page-footer {
    flex-direction: row;
    width: 648px;
    justify-content: space-between;
    align-items: stretch
  }

  .page-footer__hashtag-sedona {
    padding-top: 13px;
  }

  .page-footer__powered-by {
    padding-top: 13px;
  }
}
