.page-header {
  text-align: center;
}

.page-header__toggle {
  width: 23px;
  height: 23px;
  border: none;
  background: url("../img/icon-menu.svg") no-repeat;
}

.page-header__logo {
  order: 3;
  align-self: center;
  margin-bottom: -27px;
}

@media (min-width: 768px) {
  .page-header__logo {
    order: 0;
    margin-top: -15px;
  }
}

@media (min-width: 768px) {
  .page-header__logo {
    margin-top: -5px;
    margin-bottom: -39;
  }
}
