.page-header {
  display: flex;
  flex-direction: column;
}

.page-header--top {
  display: flex;
  order: 2;
  justify-content: center;
}

.page-header__toggle {
  width: 23px;
  height: 23px;
  border: none;
  background: url("../img/icon-menu.svg") no-repeat;
}
