.page-form__form {
  border-top: 1px solid $bordergray;
  margin-top: 17px;
}

.page-form__promo {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page-form__form {
    border: none;
    padding-bottom: 21px;
  }
}

@media (min-width: 1200px) {
  .page-form__form {
    padding-top: 59px;
  }
}
