.page-footer {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}

.page-footer__hashtag-sedona {
  display: block;
  text-align: center;
  margin-bottom: 35px;
}

.page-footer__powered-by {
  margin: 0 auto;
  margin-top: 42px;
  padding-left: 30px;
  width: 280px;
}

.page-footer__social-networks {
  margin: 0;
  padding: 0;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    width: 648px;
    justify-content: space-between;
    align-items: stretch;
  }

  .page-footer__hashtag-sedona {
    padding-top: 13px;
    margin-bottom: 0;
  }

  .page-footer__social-networks {
    margin-top: 3px;
  }

  .page-footer__powered-by {
    width: 130px;
    padding-top: 13px;
    padding-left: 7px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1080px;
    background-color: $white;
    margin-bottom: 0;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 45px;
  }

  .page-footer__hashtag-sedona {
    width: 254px;
  }

  .page-footer__powered-by {
    width: 247px;
  }
}
