.page-main-header {
  background-color: $white;
}

.page-main-header__title {
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 43px;
  text-align: center;
  width: 255px;
}

.page-main-header__text {
  text-transform: uppercase;
  color: $darkgray;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 3px;
  text-align: center;
  width: 255px;
}

@media (min-width: 768px) {
  .page-main-header__title {
    margin-top: 50px;
    font-size: 21px;
    width: 448px;
    padding-left: 104px;
    padding-right: 104px;
  }

  .page-main-header__text {
    width: 648px;
    padding-bottom: 51px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .page-main-header {
    width: 1200px;
    margin: 0 auto;
  }

  .page-main-header__text {
    margin-bottom: 0;
  }
}
