.photo {
  width: 280px;
  border-top: 1px solid $bordergray;
}

.photo__img {
  margin-top: 23px;
  min-height: 280px;
}

.photo__inscription {
  margin-top: 10px;
}

.photo__name {
  text-transform: uppercase;
  margin: 0;
}

.photo__author {
  display: block;
  color: $darkgray;
  margin-bottom: 5px;
}

.photo__likes {
  padding-top: 3px;
  padding-left: 36px;
  padding-bottom: 17px;
}

.photo__like-icon {
  position: relative;
}

.photo__like-icon svg {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 2px;
  left: 0;
  fill: $gray4;
}

@media (min-width: 768px) {
  .photo {
    border: none;
    width: 324px;

    &--top-photo {
      width: 648px;
    }
  }

  .photo__inscription {
    background-color: $lightgray;
    width: 304px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 53px;
    justify-content: center;
    margin-top: -4px;
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 11px;

    &--top-photo {
      width: 629px;
      padding-top: 13px;
    }

    &--left-photo {
      background-color: $gray2;
    }
  }

  .photo__likes {
    width: 33px;
    align-self: flex-end;
    padding-left: 22px;
    margin-right: 20px;
    padding-top: 13px;
  }

  .photo__like-icon svg {
    fill: $gray7;
    top: -40px;
    left: 220px;
  }

  .photo__like-icon--top-photo svg {
    left: 545px;
  }

  .photo__img {
    width: 324px;
    min-height: 267px;
    margin-top: 0;

    &--photo-sunset {
      width: 648px;
      padding-top: 44px;
    }
  }
}

@media (min-width: 1200px) {
  .photo {
    width: 400px;

    &--top-photo {
      width: 1200px;
    }
  }

  .photo__inscription {
    position: relative;
    background-color: $blacktrans;
    width: 380px;
    margin-top: -85px;
    padding-top: 15px;

    &--top-photo {
      width: 1180px;
      padding-top: 16px;
    }
  }

  .photo__name {
    color: $white;
  }

  .photo__author {
    color: $white;
  }

  .photo__likes {
    color: $white;
  }

  .photo__like-icon svg {
    fill: $white;
    left: 295px;
  }

  .photo__like-icon--top-photo svg {
    left: 1095px;
  }

  .photo__img {
    width: 401px;

    &--photo-sunset {
      width: 1200px;
      padding-top: 0;
    }
  }
}
