.photo {
  width: 280px;
  border-top: 1px solid $bordergray;
}

.photo__img {
  margin-top: 23px;
  background-size: 280px 280px;
  background-position: 50% bottom;
  background-repeat: no-repeat;
  min-height: 280px;

  &--photo-sunset {
    background-image: url("../img/photo-sunset-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-sunset-mobile@2x.jpg");
      background-size: 280px 280px;
    }
  }

  &--photo-cactus {
    background-image: url("../img/photo-cactus-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-cactus-mobile@2x.jpg");
      background-size: 280px 280px;
    }
  }

  &--photo-roads {
    background-image: url("../img/photo-roads-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-roads-mobile@2x.jpg");
      background-size: 280px 280px;
    }
  }

  &--photo-bridge {
    background-image: url("../img/photo-bridge-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/photo-bridge-mobile@2x.jpg");
      background-size: 280px 280px;
    }
  }
}

.photo__inscription {
  margin-top: 14px;
}

.photo__name {
  text-transform: uppercase;
  margin: 0;
}

.photo__author {
  display: block;
  color: $darkgray;
  margin-bottom: 5px;
}

.photo__likes {
  padding-top: 3px;
  padding-left: 36px;
  padding-bottom: 17px;
}

.photo__like-icon {
  position: relative;
}

.photo__like-icon svg {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 2px;
  left: 0;
  fill: $gray4;
}

@media (min-width: 768px) {
  .photo {
    border: none;
    width: 324px;

    &--top-photo {
      width: 648px;
    }
  }

  .photo__inscription {
    background-color: $lightgray;
    width: 304px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 53px;
    justify-content: center;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 11px;

    &--top-photo {
      width: 629px;
    }

    &--left-photo {
      background-color: $gray2;
    }
  }

  .photo__likes {
    width: 33px;
    align-self: flex-end;
    padding-left: 22px;
    margin-right: 20px;
    padding-top: 13px;
  }

  .photo__like-icon svg {
    fill: $gray7;
    top: -40px;
    left: 220px;
  }

  .photo__like-icon--top-photo svg {
    left: 545px;
  }

  .photo__img {
    background-size: 324px 267px;
    width: 324px;
    min-height: 267px;
    margin-top: 0;

    &--photo-sunset {
      background-image: url("../img/photo-sunset-tablet@1x.jpg");
      background-size: 648px 402px;
      width: 648px;
      padding-top: 176px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-sunset-tablet@2x.jpg");
        background-size: 648px 402px;
      }
    }

    &--photo-cactus {
      background-image: url("../img/photo-cactus-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-cactus-tablet@2x.jpg");
        background-size: 324px 267px;
      }
    }

    &--photo-roads {
      background-image: url("../img/photo-roads-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-roads-tablet@2x.jpg");
        background-size: 324px 267px;
      }
    }

    &--photo-bridge {
      background-image: url("../img/photo-bridge-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-bridge-tablet@2x.jpg");
        background-size: 324px 267px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .photo {
    width: 400px;

    &--top-photo {
      width: 1200px;
    }
  }

  .photo__inscription {
    background-color: $blacktrans;
    width: 380px;
    margin-top: -78px;
    padding-top: 15px;

    &--top-photo {
      width: 1180px;
      padding-top: 11px;
    }
  }

  .photo__name {
    color: $white;
  }

  .photo__author {
    color: $white;
  }

  .photo__likes {
    color: $white;
  }

  .photo__like-icon svg {
    fill: $white;
    left: 295px;
  }

  .photo__like-icon--top-photo svg {
    left: 1095px;
  }

  .photo__img {
    background-size: 400px 267px;
    width: 400px;

    &--photo-sunset {
      background-image: url("../img/photo-sunset-desktop@1x.jpg");
      background-size: 1200px 402px;
      width: 1200px;
      padding-top: 135px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-sunset-desktop@2x.jpg");
        background-size: 1200px 402px;
      }
    }

    &--photo-cactus {
      background-image: url("../img/photo-cactus-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-cactus-desktop@2x.jpg");
        background-size: 400px 267px;
      }
    }

    &--photo-roads {
      background-image: url("../img/photo-roads-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-roads-desktop@2x.jpg");
        background-size: 400px 267px;
      }
    }

    &--photo-bridge {
      background-image: url("../img/photo-bridge-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/photo-bridge-desktop@2x.jpg");
        background-size: 400px 267px;
      }
    }
  }
}
