.photo-promo {
  background: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $backgroundblue;
  min-height: 160px;
  background-position: 50% bottom;
  text-align: center;
}

.photo-promo__img {
  margin: 0 auto;
  background: url("../img/text-sedona.svg");
  background-repeat: no-repeat;
  background-size: 230px 39px;
  background-position: 50%;
  min-height: 210px;
}

.photo-promo__content {
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 45px;
  text-align: center;
  width: 255px;
}

.photo-promo__text {
  text-transform: uppercase;
  color: $darkgray;
  margin: 0 auto;
  text-align: center;
  width: 278px;
  margin-top: 40px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .photo-promo {
    background: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-color: $backgroundblue;
    min-height: 290px;
    background-position: 50% bottom;
    text-align: center;
    width: 768px;
  }

  .photo-promo__img {
    background-size: 460px 78px;
  }

  .photo-promo__content {
    font-size: 30px;
    line-height: 26px;
    width: 320px;
  }

  .photo-promo__text {
    width: 440px;
  }
}

@media (min-width: 1200px) {
  .photo-promo {
    background: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: $backgroundblue;
    min-height: 301px;
    background-position: 50% bottom;
    text-align: center;
    width: 1200px;
  }
}
