.player-controls {
  position: relative;
  display: flex;
  min-height: 66px;
  margin: 0 auto;
  background-color: $lightgray;
  width: 280px;
}

.player-controls__bar {
  position: absolute;
  top: -45px;
  left: 0;
  width: 280px;
  min-height: 45px;
  background-color: $blacktrans;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 238px;
    left: 22px;
    height: 4px;
    background-color: $white;
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 43%;
    display: block;
    left: 57px;
    width: 9px;
    height: 9px;
    background-color: $white;
    opacity: 1;
    border-radius: 50%;
  }
}

.player-controls__replay svg {
  position: absolute;
  background-repeat: no-repeat;
  width: 16px;
  height: 20px;
  top: 21px;
  left: 25px;
  fill: $navy;

  &:hover {
    fill: $darkgray;
  }

  &:active {
    fill: $gray4;
  }
}

.player-controls__subtitles svg {
  position: absolute;
  background-repeat: no-repeat;
  width: 33px;
  height: 20px;
  top: 21px;
  left: 174px;
  fill: $navy;

  &:hover {
    fill: $darkgray;
  }

  &:active {
    fill: $gray4;
  }
}

.player-controls__fullscreen svg {
  position: absolute;
  background-repeat: no-repeat;
  width: 33px;
  height: 20px;
  top: 21px;
  left: 232px;
  fill: $navy;

  &:hover {
    fill: $darkgray;
  }

  &:active {
    fill: $gray4;
  }
}

@media (min-width: 768px) {
  .player-controls {
    min-height: 0;
  }

  .player-controls__bar {
    left: -184px;
    width: 648px;
    min-height: 93px;
    top: -93px;

    &::before {
      width: 387px;
      left: 94px;
    }

    &::after {
      left: 206px;
      top: 47%;
    }
  }

  .player-controls__replay svg {
    top: -57px;
    left: -149px;
    fill: $white;

    &:hover {
      fill: $gray8;
    }

    &:active {
      fill: $gray6;
    }
  }

  .player-controls__subtitles svg {
    top: -57px;
    left: 340px;
    fill: $white;

    &:hover {
      fill: $gray8;
    }

    &:active {
      fill: $gray6;
    }
  }

  .player-controls__fullscreen svg {
    top: -57px;
    left: 396px;
    fill: $white;

    &:hover {
      fill: $gray8;
    }

    &:active {
      fill: $gray6;
    }
  }
}

@media (min-width: 1200px) {
  .player-controls {
    top: -44px;
  }

  .player-controls__bar {
    left: -260px;
    width: 800px;

    &::before {
      width: 540px;
    }
  }

  .player-controls__replay svg {
    left: -226px;
  }

  .player-controls__subtitles svg {
    left: 415px;
  }

  .player-controls__fullscreen svg {
    top: -59px;
    left: 472px;
  }
}
