.promo {
  background: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $backgroundblue;
  min-height: 378px;
  background-position: 50% bottom;
  text-align: center;
}

.promo__img {
  margin: 0 auto;
  margin-top: 90px;
}

.promo__content {
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 45px;
  text-align: center;
  width: 255px;
}
