.promo {
  background: url("/img/bg-intro-triangle-desktop.svg"), url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #4478a4;
  min-height: 378px;
  margin: 0 auto;
  background-position: 50% bottom;
  text-align: center;
}

.promo__img {
  margin: 0 auto;
  margin-top: 90px;
}

.promo__content {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 45px;
  text-align: center;
  width: 255px;
}
