.reason {
  &--reason-first {
    color: $white;
    margin: 0 auto;
    text-align: center;
    display: block;
    min-height: 470px;
  }

  &--reason-second {
    color: $white;
    margin: 0 auto;
    text-align: center;
    display: block;
    min-height: 452px;
  }
}

.reason__content {
  margin: 0 auto;
  min-height: 190px;

  &--background-blue {
    background-color: $blue;
  }

  &--without-photo {
    min-height: 160px;
  }
}

.reason__image {
  background-position: 50% bottom;
  background-repeat: no-repeat;
  min-height: 259px;

  &--image-reason-first {
    background-image: url("../img/main-city-mobile@1x.jpg");
    background-size: 320px 257px;
  }

  &--image-reason-second {
    background-image: url("../img/photo-bridge-mobile@1x.jpg");
    background-size: 320px 340px;
  }
}

.reason__title {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;

  &--triangle {
    background: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% top;
    background-size: 320px 37px;
    padding-top: 77px;
  }

  &--without-photo {
    padding-top: 26px;
  }
}

.reason__num {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 17px;
  margin-top: 14px;
}

.reason__text {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  width: 290px;
  padding-bottom: 39px;

  &--without-photo {
    padding-bottom: 26px;
    width: 258px;
    border-bottom: 2px solid $bordergray;
  }
}

@media (min-width: 768px) {
  .reason {
    &--reason-first {
      min-height: 256px;
      width: 768px;
      display: flex;
    }

    &--reason-second {
      min-height: 256px;
      width: 768px;
      display: flex;
    }

    &--reason-third {
      text-align: center;
      width: 33%;
    }

    &--reason-fourth {
      text-align: center;
      width: 33%;
    }

    &--reason-fifth {
      text-align: center;
      width: 33%;
    }
  }

  .reason__content {
    margin: 0 auto;
    min-height: 256px;
    width: 33%;

    &--background-blue {
      background-color: $blue;
    }

    &--without-photo {
      width: 100%;
    }
  }

  .reason__image {
    background-size: 516px 267px;
    background-position: 100%;
    background-repeat: no-repeat;
    min-height: 258px;
    width: 67%;

    &--image-reason-first {
      background-image: url("../img/main-city-tablet@1x.jpg");
      background-size: 516px 267px;
    }

    &--image-reason-second {
      background-image: url("../img/photo-bridge-tablet@1x.jpg");
      background-size: 516px 340px;
      background-position: 100% 100%;
      order: -1;
    }
  }

  .reason__title {
    background: none;
    font-size: 21px;
    line-height: 26px;
    width: 156px;
    padding-top: 44px;
    letter-spacing: 0.5;

    &--triangle {
      background: none;
    }

    &--without-photo {
      padding-left: 7px;
    }
  }

  .reason__num {
    margin-bottom: 21px;
    margin-top: 14px;
    padding-left: 7px;
    width: 160px;
  }

  .reason__text {
    width: 162px;

    &--without-photo {
      border: none;
      letter-spacing: 0.15;
      padding-left: 7px;
    }
  }
}

@media (min-width: 1200px) {
  .reason {
    &--reason-first {
      min-height: 256px;
      width: 1200px;
      display: flex;
    }

    &--reason-second {
      min-height: 256px;
      width: 1200px;
      display: flex;
    }
  }

  .reason__content {
    min-height: 225px;

    &--image-reason-first {
      background-image: url("../img/main-city-desktop@1x.jpg");
      background-size: 800px 400px;
      background-position: 100%;
      background-repeat: no-repeat;
    }

    &--image-reason-second {
      background-image: url("../img/photo-bridge-desktop@1x.jpg");
      background-size: 800px 400px;
      background-position: 0%;
      background-repeat: no-repeat;
    }
  }

  .reason__title {
    padding-top: 51px;

    &--without-photo {
      padding-top: 41px;
    }
  }

  .reason__image {
    background-size: 804px 400px;

    &--image-reason-first {
      background-image: url("../img/main-city-desktop@1x.jpg");
    }

    &--image-reason-second {
      background-image: url("../img/photo-bridge-desktop@1x.jpg");
    }
  }

  .reason__text {
    width: 265px;

    &--without-photo {
      width: 290px;
    }

    &--reason-second {
      width: 235px;
    }
  }
}
