.reasons__title {
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  width: 255px;
}

.reasons__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.reasons__item--reason-first {
  background:  url("/img/bg-triangle.svg");
  background-color: #81b3d2;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: 320px 36px;
  min-height: 470px;
}

.reasons__item--reason-second {
  background-color: #81b3d2;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: 320px 36px;
  min-height: 470px;
}

.reasons__item--reason-third  {
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}

.reasons__item--reason-fourth  {
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}

.reasons__item--reason-fifth {
  background-color: #eeeeee;
}

.reasons__item__title {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 10px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}

.reasons__item__num {
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 24px;
}

.reasons__item__text {
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 45px;
  width: 265px;
}


.feature {
  margin: 0 auto;
  width: 320px;
}

.feature__item__title {
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feature__item__text {
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
