.site-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  order: -1;
}

.site-list__item {
  background-color: #81b3d2;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.site-list__item-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
