.text--weight-bold {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-weight: bold;
}

.text--weight-normal {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
}

.text--size--small {
  font-size: 14px;
}

.text--size--medium {
  font-size: 18px;
}

.text--size--large {
  font-size: 21px;
}

.text--line-height--think {
  line-height: 10px;
}

.text--line-height--light {
  line-height: 15px;
}

.text--line-height--medium {
  line-height: 21px;
}

.text--line-height--big {
  line-height: 24px;
}

.text--line-height--large {
  line-height: 26px;
}

.text--line-height--huge {
  line-height: 40px;
}
