.text--weight-bold {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.text--weight-normal {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
}

.text--size--small {
  font-size: 14px;
}

.text--size--medium {
  font-size: 18px;
}

.text--size--large {
  font-size: 21px;
}

.text--line-height--10px {
  line-height: 10px;
}

.text--line-height--15px {
  line-height: 15px;
}

.text--line-height--21px {
  line-height: 21px;
}

.text--line-height--24px {
  line-height: 24px;
}

.text--line-height--26px {
  line-height: 26px;
}

.text--line-height--40px {
  line-height: 40px;
}
