$white: #ffffff;
$blue: #81b3d2;
$lightgray: #f2f2f2;
$gray: #eeeeee;
$black: #000000;
$bordergray:#e5e5e5;
$darkgray: #333333;
$backgroundblue: #4478a4;
$border-bottom: #678fa8;
$border-top: #9ac2db;
$video-background: #9fb413;
