.video-gallery__title {
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 34px;
  text-align: center;
  width: 320px;
}

.video-gallery__text {
  text-transform: uppercase;
  color: $darkgray;
  margin: 0 auto;
  text-align: center;
  width: 265px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.video-gallery__clip {
  min-height: 201px;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  background-color: $video-background;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: 320px 201px;
}

@media (min-width: 768px) {
  .video-gallery__title {
    font-size: 30px;
    width: 351px;
    padding-top: 69px;
  }

  .video-gallery__text {
    width: 415px;
    margin-top: 30px;
    margin-bottom: 73px;
  }

  .video-gallery__clip {
    min-height: 500px;
    background-image: url("../img/video-tablet@1x.jpg");
    width: 648px;
    background-size: 648px 500px;
  }
}

@media (min-width: 1200px) {
  .video-gallery {
    width: 1200px;
    margin: 0 auto;
    background-color: $white;
  }

  .video-gallery__clip {
    background-image: url("../img/video-desktop@1x.jpg");
    width: 800px;
    background-size: 800px 500px;
    margin-bottom: 44px;
  }
}
